
input:disabled {
    opacity: 0.5;
}

#main_content {
    width: 80%; 
    min-width: 620px;
    margin-left: auto;
    margin-right: auto;
    border: 3px double pink;
    z-index: 5;
}

#tabs { width: 100%; }

#tabs .tabwidget {
    display: inline-block;
    vertical-align: middle;
}

#tabs #tabscleft { float: left; }
#tabs #tabscright { float: right; }
#tabs #tabnewtab { float: right; }
#tabs #tabshowall { float: right; }
#tabs #tabtable {  }

#tabs .tab {
    display: inline;
    overflow: hidden;
    border: 1px solid black;
    font-size: 10pt;
    width: 100px;
}


#tabs .active {
    background-color: #DDFFDD;
}

#tabs .tab:hover {
    background-color: #DDDDDD;
}

#tabs .tab .tabtitle {
    display: inline-block;
    overflow: hidden;
    width: 78px;
    border: none;
    background-color: inherit;
}

#tabs .tab .tabclose {
    display: inline-block;
    min-width: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

#tabs .tab .tabclose:hover {
    color: red;
}


#listtabs {
    position: absolute;
    z-index: 4;
    background-color: #FFFFFF;
    border: 3px double black;
}

#listtabs ul {
    list-style: none;
    font-size: 10pt;
    padding: 10px;
    margin: 0px;
}

#listtabs ul .listactive {
    font-weight: bold;
}

#listtabs ul li:hover {
    background-color: #DDDDDD
}

